.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.ratingSection {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.ratingSection legend {
  margin-bottom: 8px;
  font-weight: 500;
}

.actions {
  display: flex;
  gap: 12px;
}

@media (width < 600px) {
  .actions {
    width: 100%;
    flex-direction: column;
    gap: 12px;
  }
}
