.order {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
  gap: 1.5rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.orderDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
