.emptyState {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.title {
  font-size: 2rem;
  color: black;
  font-weight: 500;
}

.desc {
  font-size: 1rem;
  color: #838383;
}

@media (width < 500px) {
  .img {
    width: 280px;
    height: 230px;
  }
}
