.emptyState {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.title {
  font-size: 2rem;
  color: black;
  font-weight: 500;
}

.desc {
  font-size: 1rem;
  color: #838383;
}
