.baseCard {
  padding: 1rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;

  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.1);

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 2px 4px 7px rgba(24, 123, 138, 0.217);
  }
}
