.orderSection {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1.5rem;
}

.order {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
  gap: 1.5rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formBottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  & > div {
    display: flex;
    justify-content: space-between;
  }
}

.orderDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 599px) {
  .orderSection {
    gap: 0.5rem;
  }
}
