.titleContent {
  border-radius: 1rem;
  background-color: #101010;
  color: #ffffff;
  width: 100%;
  min-height: 197px;
  height: 100%;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.titleImage {
  object-fit: cover;
  width: 100%;
  height: 197px;
}
@media (width < 798px) {
  .titleText {
    font-size: 1.5rem;
  }
}

@media (width < 470px) {
  .titleText {
    font-size: 1.25rem;
  }
}
