.desc {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}
.accordion {
  flex: 1;
  border-radius: 1rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
}

.imagesWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (width < 787px) {
  .desc {
    display: flex;
    flex-direction: column;
  }
}
