.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  place-items: stretch;
  gap: 20px;
  margin-bottom: 20px;
  padding: 0 12px;
}

@media (max-width: 900px) {
  .productsGrid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

@media (max-width: 787px) {
  .productsGrid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 500px) {
  .productsGrid {
    grid-template-columns: 1fr;
    margin: 0 -8px;
    gap: 12px;
  }
}
