.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 2px 4px 7px regba(0, 0, 0, 0.2);

  & input {
    padding: 8px 10px;
    background-color: inherit;
    color: black;
    border: 1px solid orange;
    border-radius: 4px;
  }
}
