.dialog {
  backdrop-filter: blur(5px);
}

.dialogTitle {
  text-align: center;
  font-weight: 600;
  padding: 20px 24px 10px;
}

.dialogContent {
  padding: 0 24px;
}

.actions {
  padding: 16px 24px;
  gap: 12px;
}

@media (max-width: 600px) {
  .dialogContent {
    padding: 0 16px;
  }
}
